ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  height: 100vh; /* Asegura que ion-content ocupa toda la pantalla */
  margin: 0;
  padding: 0;
  display: flex; /* Usar flex para manejar el layout interno */
}

.container {
  display: flex;
  flex-direction: row; /* Alineación horizontal para landscape */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  flex: 0 0 60%; /* El mapa ocupa el 60% del ancho */
  height: 100%;
  margin: 0;
  padding: 0;
}

.info {
  flex: 0 0 40%; /* La sección de información ocupa el 40% del ancho */
  height: 100%;
  overflow-y: auto; /* Permitir desplazamiento si el contenido es largo */
  padding: 10px; /* Ajusta el padding según sea necesario */
}

.info-section {
  display: flex;
  flex-direction: column;
}

.battery-info, .speed-altitude, .accel-gyro {
  margin-bottom: 20px;
}

p, h1, h3, small {
  margin: 0;
  color: #fff;
}

p {
  font-size: 0.6rem;
}

h1 {
  font-size: 0.9rem;
}

h3 {
  font-size: 0.8rem;
  text-align: center;
}

small {
  font-size: 0.7rem;
}

.speed-text {
  padding-top: 10px;
  font-size: 6rem;
  text-align: center;
  line-height: 0.8;
}

.speed-unit {
  font-size: 1rem;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.max-speed {
  font-size: 1.2rem;
}

ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.battery-satellite-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 25px;
  max-height: 15px;
  overflow: hidden;
}

.battery-info {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.battery-icon {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 3px;
}

.battery-body {
  width: 30px;
  height: 15px;
  border: 2px solid #fff;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
}

.battery-level {
  height: 100%;
  transition: width 0.3s ease;
  background-color: rgb(0, 176, 0);
  padding: 2px;
}

.battery-percentage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6px;
  font-weight: bold;
}

.battery-tip {
  width: 1px;
  height: 6px;
  background-color: #fff;
  margin-left: 1px;
  border-radius: 2px;
}

.satellite-info {
  display: flex;
  align-items: center;
}

.satellite-bars {
  display: flex;
  align-items: flex-end;
}

.satellite-bar {
  position: relative;
  width: 3px;
  height: 12px;
  background-color: rgb(89, 88, 88);
  margin-right: 3px;
}

.bar-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 255, 0);
  transition: height 0.3s ease-in-out;
}

.satellite-count {
  margin-left: 5px;
  font-weight: bold;
  font-size: 10px;
}