<ion-content>
  <div class="container">
    <div id="map" class="map"></div>
    <ion-grid class="info">
      
      <div class="battery-satellite-container">
        <div class="satellite-bars">
            <div *ngFor="let bar of [1, 2, 3, 4, 5]; let i = index" 
                 class="satellite-bar">
                <div class="bar-fill" 
                     [ngStyle]="{'height': getBarHeight(i) + 'px'}" 
                     [ngClass]="{'filled': isFilled(i)}">
                </div>
            </div>
            <span class="satellite-count">{{ Satellite }}</span>
        </div>
        <div class="battery-info">
          <small>{{BatteryV}} v</small>
          <div class="battery-icon">
            <div class="battery-body">
              <div class="battery-level" [style.width.%]="BatteryP"></div> 
              <p class="battery-percentage">{{ BatteryP }}%</p>
            </div>
            <div class="battery-tip"></div>
          </div>
          
        </div>
      </div>
      

      <div class="speed-altitude">
        <ion-item>
          <ion-label>
            <h1 class="speed-text"><strong>{{ speed }}</strong></h1>
            <small class="speed-unit">km/h</small>
        </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3><span class="max-speed">Max: <strong>{{ maxSpeed }}</strong><small> km/h</small></span></h3>
          </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-icon name="image" slot="start"></ion-icon>
          <ion-label>
            <h3><strong>{{ altitude }}</strong> m Max: <strong>{{ maxAltitude }}</strong> m</h3>
          </ion-label>
        </ion-item>
      </div>

      <div class="accel-gyro">
        <ion-icon name="bicycle"></ion-icon>
<small>V 0.1.01 - {{MaxAcellX}} m/s² - {{MaxAcellY}} m/s²</small>
<p>
  <strong>Pitch</strong> (Adelante/Atrás): <strong>{{ pitch }}° - </strong>
  <strong>Roll</strong> (Izquierda/Derecha): <strong>{{ roll }}°</strong>
</p>
        <p>--------------------</p>
        <p><small>{{accelX}}, {{accelY}}, {{accelZ}}</small></p>
        <p><small>{{GiroX}}, {{GiroY}}, {{GiroZ}}</small></p>
        
      </div>
    </ion-grid>

  </div>

</ion-content>